services:
  woc:
    build: .
    container_name: woc
    restart: unless-stopped
    ports:
      - "3003:3000"
    depends_on:
      - ollama
    environment:
      - OLLAMA_HOST=http://ollama:11434
      - NODE_ENV=production
      - PORT=3000
      - BASE_PATH=/woc
      - ORIGIN=http://wizofcheese.com
  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama
    restart: unless-stopped
volumes:
  ollama_data: